<div class="member-board">

  <div class="avatar">
    {% if member.avatar != nil %}
      <img src="/assets/images/avatars/{{ member.avatar }}" />
    {% else %}
      <img src="/assets/images/default-avatar.png" />
    {% endif %}
  </div>

  <div class="info">
    <h3>{{ member.name }}</h3>
    <span class="member-info-label">username: </span>
    {{ member.username }} <br />

    <span class="member-info-label">about me: </span>
    {{ member.description }} <br />

    <span class="member-info-label">my github page: </span>
    <a href="https://github.com/{{ member.github }}">{{ member.github }}</a>
  </div>

</div>
<hr />
