<a class="post-mini-wrapper" href="{{ post.url}}">
  <div class="post-mini">
    <h3>{{ post.title }}</h3>
    <div class="post-metadata">
      <span class="post-date"> <i class="fa fa-calendar"></i> {{ post.date | date_to_string }}</span>
      <span class="post-author"> <i class="fa fa-user"></i> {{ post.author }}</span>
      
      {% if post.tags %}
        <div class="post-tags">
          <i class="fa fa-tags" aria-hidden="true"></i>
          {% for tag in post.tags %}
            <span class="post-label">{{ tag }}</span>
          {% endfor %}
        </div>
      {% endif %}
      <a class="preview-toggle" href="#preview-{{ post.id | replace: '/', '' }}">preview</a>
    </div>
    <div id="preview-{{ post.id | replace: '/', '' }}" class="post-preview">
      {{ post.excerpt }}
    </div>
  </div>
</a>
