// Write styles changing default Hyde appearance here

body {
  font-size: 16px;
  hr { margin: 7px 0; }

  .content {
    .posts {
      .post {
        transition: transform .3s;
        &:hover {
          transform: scale(1.03);
          box-shadow: 0px 0px 15px 2px #9e9e9e;
        //   text-decoration: none;
        }
        box-shadow: 0px 0px 10px 1px #9e9e9e;
        border-radius: 15px;
        padding: 10px 25px 25px;
        margin: 25px 0;
        header {
          margin-top: -15px;
          .post-metadata {
            span {
              display: inline-block;
              padding: 0 10px;
            }
          }
        }
        .preview-toggle {
          float: right;
          padding-right: 10px;
        }
        .post-preview { display: none; }
        .post-preview.is-visible { display: block; }
        a:hover {
          text-decoration: none; 
        }
      }
    }
  }
}

.post-authored-by {
    font-size: 16px;
}

.post-authored-by-label {
    color: #9e9e9e;
    font-style: italic;
}

.post-authored-by .value {
    color: #000000;
}

.post-date {
    margin-top: 0rem;
}

.post-author {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
}

.post-label {
    color: #ffffff;
    background-color: #268bd2;
    border-radius: 4px;
    padding: 1px 3px;
    margin-right: 4px;
    font-weight: 700;
}

img.logo {
  margin: 20px auto 40px;
}

.member-pane {
  width: 100%;
  display: flex;
  padding: 20px 0;
}

.member-pane .avatar {
  width: 25%;
}

.member-pane .avatar img {
  width: 128px;
  height: 128px;
}

.member-pane .info {
  width: 75%;
}

.member-pane .info h3 {
  margin-top: 0;
}

.member-info-label {
  color: #9e9e9e;
  font-weight: bold;
}
