---
layout: page
title: Blog
---

{% comment %}
  This file needs in `/blog/index.html`, not just `/blog.html`. The reason is that pagination works only on `index.html` file.
{% endcomment %}

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post anim-scale">

      <a href="{{ post.url }}">
        <header>
          <h3>{{ post.title }}</h3>
          <div class="post-metadata">
            <span class="post-date"> <i class="fa fa-calendar"></i> {{ post.date | date_to_string }}</span>
            <span class="post-author"> <i class="fa fa-user"></i> {{ post.author }}</span>
          </div>
          {% if post.tags[0] != nil %}
            <div class="post-tags">
              <i class="fa fa-tags" aria-hidden="true"></i>
              {% for tag in post.tags %}
                <span class="post-label">{{ tag }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </header>
      </a>
        
      <a href="#preview-{{ post.id | replace: '/', '' }}" class="preview-toggle">
        <div>
          <i class="fa fa-arrow-circle-down"></i>
        </div>
      </a>
        

      <section id="preview-{{ post.id | replace: '/', '' }}" class="post-preview">
        {{ post.excerpt }}
        <footer class="post-footer">
          <i class="icon-ellipsis-vertical"></i>
          <hr />
          <a href="{{ post.url }}"><i class="fa fa-book"></i> full article</a>
        </footer>
      </section>
    </article>
    
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
