---
layout: default
---

{% assign author = site.data.members | where: "username", page.author | first %}
<!-- this needs to be here for the include to work - it expects post variable to contain necessary fields -->
{% assign post = page %}

<div class="post">
  {% include post_header.html %}
  {{ content }}
  <hr>
  <p>This blogpost was written by <a href="{% link members.html %}#{{ author.username }}">
    <span class="value"><i class="fa fa-user"></i> {{ author.username }}</span></a>
  </p>
  <br />
</div>
