---
layout: default
---

{% assign author = site.data.members[page.author] %}
<!-- this needs to be here for the include to work - it expects post variable to contain necessary fields -->
{% assign post = page %}
<div class="post">
  {% include post_header.html %}
  {{ content }}
  <hr>
  This blogpost was written by <a href="https://github.com/{{ author.github }}"><span
    class="value"> <i class="icon-user"></i> {{ author.username }}</span></a> <br />
  {% assign member = author %}
  {% include member_pane.html %}
  
</div>
